.flex-container-rw {
  display: flex;
}

.flex-container-clm {
  display: flex;
  flex-direction: column;
}

#header {
  justify-content: space-between;
  align-items: stretch;
  margin-left: 1%;
  margin-right: 1%;
}

#app-name-wrapper {
  align-items: center;
}

#app-name-wrapper > h1 {
  font-size: 1.8rem;
}

#logo-wrapper {
  height: fit-content;
  width: fit-content;
}

img {
  height: 5.5rem;
  width: 5.5rem;
}

.S9gUrf-YoZ4jf {
  top: 0.5rem;
}

.body {
  
}
